body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin:0;
}

#logo{
  cursor:pointer;
}
#acc{
  cursor:pointer;
}
footer{
  position:absolute;
  bottom:0;
  height:2.5rem;
  width:100%;
}
#loadscreen{
  width:30vw;
  height:100vh;
}

@media screen and (max-width:600px) {
  #navitems{
    flex-direction: column;
    align-items: flex-start !important;
  }
  #navitems *{
    margin-left: 0 !important;
  }
}